demos/
packages/dts-generator/api-report/
packages/dts-generator/dist/
packages/dts-generator/src/checkDtslint/dtslintConfig/openui5-tests.ts
packages/dts-generator/src/resources/core-preamble.d.ts
packages/dts-generator/temp/
packages/ts-interface-generator/dist/
packages/ts-interface-generator/src/test/samples/sampleControl/SampleControl.gen.d.ts
packages/ts-interface-generator/src/test/samples/sampleControl/SampleControl.ts
packages/ts-interface-generator/src/test/samples/sampleManagedObject/SampleManagedObject.gen.d.ts
packages/ts-interface-generator/src/test/samples/sampleManagedObject/SampleManagedObject.ts
packages/ts-interface-generator/src/test/samples/sampleManagedObject/SampleAnotherManagedObject.gen.d.ts
packages/ts-interface-generator/src/test/samples/sampleManagedObject/SampleAnotherManagedObject.ts
packages/ts-interface-generator/src/test/samples/sampleWebComponent/SampleWebComponent.gen.d.ts
packages/ts-interface-generator/src/test/testcases/
test-packages
